@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 6rem;
}

.app {
  width: 100vw;
  min-height: 100dvh;
  color: #000000;
}

.app:before {
  content: '';
  background: url('./assets/images/home.jpg') no-repeat center center/cover;
  position: absolute;
  width: 100vw;
  min-height: 100dvh;
  top: 0;
  left: 0;
  z-index: -1;
}

.app.clear:before {
  background: url('./assets/images/clear.jpg') no-repeat center center/cover;
}

.app.rain:before {
  background: url('./assets/images/rain.jpg') no-repeat center center/cover;
}

.app.clouds:before {
  background: url('./assets/images/clouds.jpg') no-repeat center center/cover;
}

.app.snow:before {
  background: url('./assets/images/snow.jpg') no-repeat center center/cover;
}

.app.fog:before {
  background: url('./assets/images/fog.jpg') no-repeat center center/cover;
}

.app.haze:before {
  background: url('./assets/images/haze.jpg') no-repeat center center/cover;
}

.app.thunderstorm:before {
  background: url('./assets/images/thunderstorm.jpg') no-repeat center center/cover;
}

.app .search {
  text-align: center;
  padding: 1rem;
}

.app input {
  text-align: center;
  padding: 0.6rem 1rem;
  min-width: 300px;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 1px solid black;
  color: black;
  opacity: 0.8;
}

.container {
  max-width: 700px;
  height: 700px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.app .top {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.app .description {
  position: relative;
  text-align: center;
  font-weight: 500;
}

.app .bottom {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}

.bold {
  font-weight: 700;
}

.feels,
.humidity,
.wind {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}